.vscode
__pycache__
.ctags
.pytest_cache
*.pdf
/*.xlsx
*.png
!blumenlogo.png
*.env
*.env.*
*.swp
.test_env
.chroma
credentials.json
token.json
.DS_Store
.langchain.db
keys/
env/
.python-version
node_modules
package.json
tessdata_fast-main/
tags
*.egg-info/

# Ignore the .idea/ directory (PyCharm project files)
.idea/
.aider*
.augmentignore
historic_projects_script_result.json
scripts/titlev/ephemeral/
